@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');

font-face {
    font-family:myfont ;
    src; url(../)
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    font::after size 40px;
    color::after blue;
    text-decoration:'underline';
}

 h2+p{
     color: blue;
 }
 p{
    font-family:'Roboto', sans-serif;
    text-align:justify ;
    text-decoration: dashed;
    text-indent: 50px;
 }
 h3{
     font-family:'myfont' ;
 }
  a{
      text-decoration: none;
  }
  h2+h3{
      letter-spacing: 0cm;
      text-decoration:underline ;
  }